#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Image Viewer
GenericName=Image Viewer
Comment=Simple, cross-platform image viewer
Exec=ImageViewer %f
Icon=ImageViewer
Type=Application
Terminal=false
Categories=Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
MimeType=image/bmp;image/x-bmp;image/x-dds;image/gif;image/x-icns;image/icns;image/x-ico;image/vnd.microsoft.icon;image/x-icon;image/ico;image/icon;image/x-jng;image/jp2;image/jpx;image/jpeg;image/jpg;video/x-mng;image/png;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-greymap;image/x-portable-pixmap;image/vnd.adobe.photoshop;image/svg+xml;image/svg-xml;image/svg+xml-compressed;image/x-tga;image/x-targa;image/tiff;image/vnd.wap.wbmp;image/webp;image/wmf;image/x-xpixmap;image/x-xbitmap;image/x-adobe-dng;image/x-fuji-raf;image/x-nikon-nef;image/x-panasonic-raw;image/x-panasonic-raw2;image/x-sony-sr2;image/x-exr;
