ImageViewerWidget
{
    background-image: url(:/style/background_pattern_light.png);
    background-position: top left;
    background-repeat: repeat-xy;
}

QMessageBox #qt_msgbox_informativelabel,
AboutDialog #textLabel
{
    padding-bottom: 1px;
}

