<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(sys.CURRENTDIR)..\src\ImageViewer\resources\platform\windows\variables.wxi ?>

    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="ProgramMenuFolder">
                <Directory Id="mnu1F9DC0353B2D43D08B214E51A02BDEB8" Name="$(var.ProductName)" />
            </Directory>
        </DirectoryRef>
        <DirectoryRef Id="mnu1F9DC0353B2D43D08B214E51A02BDEB8">
            <Component Id="cmpB5DB27D9540644709E68C09D8AEAD4AB">
                <Shortcut
                  Name="$(var.ProductName)"
                  Id="i04C0DF413B5343FC981B31515E28909E"
                  Target="[INSTALLLOCATION]$(var.ExeProcessName)"
                  WorkingDirectory="INSTALLLOCATION"
                  Description="$(var.Description)" />
                <RemoveFolder On="uninstall" Id="mnu1F9DC0353B2D43D08B214E51A02BDEB8" />
                <RegistryValue
                  Name="$(var.ProductNameSafe).Common"
                  Type="integer"
                  Value="1"
                  Key="$(var.HKCURegPath)"
                  Root="HKCU"
                  Id="regD481365872C1468A8631EA9FA6A6B582"
                  KeyPath="yes" />
                <?include $(sys.CURRENTDIR)..\src\ImageViewer\resources\platform\windows\open_with.wxi ?>
            </Component>
            <Component Id="cmpD6C04E5D22B345629C284A879F977B59">
                <RegistryValue
                  Name="$(var.ProductNameSafe).Associations"
                  Type="integer"
                  Value="1"
                  Key="$(var.HKCURegPath)"
                  Root="HKCU"
                  Id="reg6378610E115F414BBACF4340988A363A"
                  KeyPath="yes" />
                <?include $(sys.CURRENTDIR)..\src\ImageViewer\resources\platform\windows\open.wxi ?>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CommonGroup">
            <ComponentRef Id="cmpB5DB27D9540644709E68C09D8AEAD4AB" />
        </ComponentGroup>
        <ComponentGroup Id="AssociationsGroup">
            <ComponentRef Id="cmpD6C04E5D22B345629C284A879F977B59" />
        </ComponentGroup>
    </Fragment>
</Wix>
